body {
    margin: 0;
}

.margen {
    margin: 100px 300px;
}

.tabla {
    width: 100%;
    text-align: left;
}

.tabla td {
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu {
    background-color: #253a45;
    padding: 20px;
    font-size: 20px;
}

#menu a {
    color: white;
    padding-right: 50px;
}

.center {
    text-align: center;
}

.pub_title {
    border-bottom: 1px solid #ddd;
    border-left: 6px solid #438fb8;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}

li {
    margin: 15px 0 15px 0;
    list-style: none;
    border: 1px solid #253a45;
    border-radius: 10px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #ddd;
}

td, th {
    border-right: 1px solid #ddd;
    padding: 5px;
}

.eye {
    display: flex;
    justify-content: center;
}

.tasks_container {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 70px;
}